@{
Layout = "_Layout";
}
<div class="container-fluid">
  <h2 class="display-4">Inventory</h2>
  <hr>

  <div class="row">
    <div class="col-md-12">
      @if(Model["Books"].Count != 0)
      {
        <div class="col-md-2">
          <h5><a class="btn btn-secondary" href="/books/new">Buy a new book</a></h5>
          <hr>
          <h5><a class="btn btn-secondary" href="/customers/new">Enter a new customer</a></h5>
          <hr>
          <h5><a class="btn btn-secondary" href="/books/deleteall">Delete all books</a></h5>
          <hr>
        </div>
        <ul class="list-group">
          @foreach(var book in Model["Books"])
          {
            <li class="list-group-item">
              <div class="overflow-x:auto;">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Book ID</th>
                      <th scope="col"><strong>Thumbnail</strong></th>
                      <th scope="col"><strong>Author</strong></th>
                      <th scope="col"><strong>Title</strong></th>
                      <th scope="col"><strong>ISBN</strong></th>
                      <th scope="col"><strong>Publisher</strong></th>
                      <th scope="col"><strong>Price</strong></th>
                      <th scope="col"><strong>Quantity</strong></th>
                      <th scope="col"><strong>Action</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><a class="btn btn-secondary" href="/books/@book.GetId()">@book.GetId()</a></th>
                      <td><img class="img img-fluid float-left" src="@book.GetImage()" alt="thumb"></td>
                      <td>@book.GetAuthor()</td>
                      <td>@book.GetName()</td>
                      <td>@book.GetIsbn()</td>
                      <td>@book.GetPublisher()</td>
                      <td>@book.GetPrice()</td>
                      <td>@book.GetQuantity()</td>
                      <td>
                        <form class="form" action="~/customers/checkout" method="post">
                          <div class="form-group">
                            <input type="hidden" class="form-control"name= "bookid" value="@book.GetId()"  readonly></input>
                            <hr>
                            <label for="appendName">Select your name:</label>
                            <select class="form-control" name="appendName">
                              @foreach(var customer in Model["Customers"])
                              {
                                <option value="@customer.GetId()">@customer.GetName()</option>
                              }
                            </select>
                            <hr>
                            <button class="btn btn-secondary" type="submit" name="button">Submit</button>
                          </div>
                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </li>
          }
        </ul>
      } else
      {
        <h5>You haven't entered any books.</h5>
        <h5><a class="btn btn-secondary" href="/books/new">Enter a new book</a></h5>
        <h5><a class="btn btn-secondary" href="/">Return home</a></h5>
      }
    </div>
  </div>
</div>
